@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.hero {
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 970px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.hero .hero-content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

#load-more {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 10vw;
  height: 5vh;
  background-color: #D8D8D8;
  font-family: "Space Mono";
  font-size: 12px;
  font-weight: 400;
  color: black;
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 1vh;
}
#load-more:hover {
  background-color: black;
  color: white;
}

.photo-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 2vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}
.photo-filters form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.photo-filters form .filters-group {
  display: flex;
  gap: 0.5vw;
}
.photo-filters form .filters-group.filters-left {
  justify-content: flex-start;
}
.photo-filters form .filters-group.filters-right {
  justify-content: flex-end;
}
.photo-filters form .filters-group select {
  width: 10vw;
  size: auto;
  height: auto;
  overflow: hidden;
  padding: 0.4vw 0.6vw;
  border: 1.3px solid #B8BBC2;
  border-radius: 8px;
  background: white;
  color: black;
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .hero {
    height: 50vh;
    background-size: cover;
  }
  .hero h1 {
    font-size: clamp(18px, 10vw, 40px);
  }
  .photo-filters form {
    flex-direction: column;
    align-items: center;
  }
  .photo-filters form .filters-group {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
  }
  .photo-filters select {
    width: 70vw !important;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .photo-filters .filters-group {
    display: flex;
    flex-direction: column;
    margin: 0.1vh !important;
  }
  #load-more {
    width: 70vw;
    height: 8vh;
    font-size: 16px;
    margin-top: 2vh;
  }
}
header {
  height: 80px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
header nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  align-items: center;
  padding: 0 4vw;
  position: relative;
}
header nav .menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  align-self: center;
}
header nav a {
  text-decoration: none;
  color: inherit;
}
header nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}
header nav ul li {
  font-family: "Space Mono", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  margin: 0 1vw;
}
header nav ul li:hover {
  font-weight: 700;
}
@media (max-width: 768px) {
  header nav .menu-toggle {
    display: block;
  }
  header nav ul.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 8vh;
    right: 0;
    width: 100%;
    background: #E00000;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }
  header nav ul.menu li {
    margin: 10px 0;
    text-align: center;
    color: white;
    font-family: "Space mono";
    font-size: 16px;
    font-weight: 400;
  }
  header nav ul.menu.active {
    display: flex;
  }
}
header .logo {
  width: 216px;
  height: auto;
  flex-shrink: 0;
}

footer {
  max-width: 1440px;
  height: 40px;
  margin: 0 auto;
  border-top: 1px solid black;
}
footer .footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-family: "Space Mono";
  font-size: 16px;
  font-weight: 400;
  color: inherit;
  width: 100%;
  height: auto;
}
footer .footer-container .footer-menu {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 0 3vw;
}
footer .footer-container .footer-menu li {
  list-style: none;
  margin: 0 1vw;
}
footer .footer-container .footer-menu li a {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 768px) {
  footer {
    height: 90px;
  }
  footer .footer-menu {
    flex-direction: column;
    text-align: center;
  }
}

/* Cacher la modale par défaut */
#contact-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  /* Overlay (fond sombre) */
  /* Contenu de la modale */
  /* Afficher la modale */
  /* Ajouter l'effet de disparition */
}
#contact-modal .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fond sombre */
  z-index: 1; /* Derrière le contenu */
  opacity: 0;
  transition: opacity 0.3s ease;
}
#contact-modal .modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(310px, 50vw, 597px);
  height: auto;
  background-color: white;
  z-index: 2; /* Au-dessus de l'overlay */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  overflow: hidden;
  /* Animation d'apparition */
  animation: slide-down 0.3s ease-out forwards;
  /* Bouton de fermeture */
  /* Image dans l'en-tête */
  /* Formulaire */
}
#contact-modal .modal-content .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  z-index: 2;
}
#contact-modal .modal-content img {
  width: 150%; /* Largeur de l'image qui dépasse */
  position: relative;
  left: 50%;
  transform: translateX(-50%); /* Centrer l'image horizontalement */
  height: auto; /* Maintenir la proportion de l'image */
  z-index: 1;
}
#contact-modal .modal-content form {
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: center;
  width: 100%;
}
#contact-modal .modal-content form label {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
}
#contact-modal .modal-content form .form-input {
  width: clamp(260px, 9vw, 300px);
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding-left: 10px;
  font-size: 14px;
}
#contact-modal .modal-content form .message-input {
  width: clamp(260px, 9vw, 300px);
  height: 210px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding-left: 10px;
  font-size: 14px;
  resize: none;
}
#contact-modal .modal-content form .submit-btn {
  width: 263px;
  height: 50px;
  background-color: #D8D8D8;
  border: none;
  border-radius: 2px;
  font-family: "Space Mono", monospace;
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
  color: inherit;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
}
#contact-modal .modal-content form .submit-btn:hover {
  background-color: #B1B1B1;
}
#contact-modal.show {
  display: block; /* Rendre visible */
  opacity: 1;
  pointer-events: auto;
}
#contact-modal.show .modal-overlay {
  opacity: 1;
}
#contact-modal.show .modal-content {
  opacity: 1;
  pointer-events: auto;
}
#contact-modal.disappearing {
  display: block;
  opacity: 1;
  pointer-events: auto;
}
#contact-modal.disappearing .modal-overlay {
  opacity: 1;
}
#contact-modal.disappearing .modal-content {
  animation: slide-up 0.3s ease-in forwards;
}

/* Empêche le défilement lorsque la modale est ouverte */
.modal-open {
  overflow: hidden;
}

/* Animation d'apparition */
@keyframes slide-down {
  from {
    transform: translate(-50%, -60%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
/* Animation de disparition */
@keyframes slide-up {
  from {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -60%);
    opacity: 0;
  }
}
h1 {
  font-family: "Space Mono";
  font-size: clamp(60px, 6vw, 96px);
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px white;
  text-stroke: 1px white;
}

h2 {
  font-family: "Space Mono";
  font-size: 66px;
  font-weight: 400;
  font-style: italic;
  line-height: 60px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h3 {
  font-family: "Space Mono";
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.photo-description {
  font-family: "Space Mono";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

p {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 300;
}

.photo-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 120px;
  grid-template-areas: "photo-info photo-image-container" "photo-actions photo-actions";
  min-height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.photo-page .photo-info {
  grid-area: photo-info;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  overflow-y: auto;
  padding-left: 5px;
  padding-bottom: 20px;
  width: 100%;
  max-width: 720px;
  border-bottom: 1px solid black;
}
.photo-page .photo-image-container {
  grid-area: photo-image-container;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  max-width: 720px;
}
.photo-page .photo-image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.photo-page .photo-actions {
  grid-area: photo-actions;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  height: 118px;
  border-bottom: 1px solid black;
  position: relative;
}
.photo-page .photo-actions .contact-us {
  display: flex;
  flex-direction: row;
  padding: 0 5px;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.photo-page .photo-actions .contact-us .contact-link {
  font-family: "Space Mono";
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  color: black;
  background-color: #D8D8D8;
  border-radius: 4px;
  width: 270px;
  height: 50px;
  align-content: center;
  text-align: center;
}
.photo-page .photo-actions .contact-us .contact-link:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.photo-page .photo-actions .navigation {
  display: flex;
  gap: 20px;
  margin-left: auto;
  align-self: flex-end;
  padding-bottom: 10px;
  position: relative;
}
.photo-page .photo-actions .navigation a {
  display: inline-block;
  font-family: "Space mono";
  font-size: 12px;
  font-weight: 400;
  color: black;
  text-decoration: none;
}
.photo-page .photo-actions .navigation a:hover {
  cursor: pointer;
  font-weight: 700;
}
.photo-page .photo-actions #thumbnail-preview {
  position: absolute;
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  display: none;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
  margin-bottom: 10px;
}
.photo-page .photo-actions .nav-link:hover + #thumbnail-preview {
  display: block;
}
.photo-page .photo-actions .nav-link i {
  font-size: 12px;
}
.photo-page .photo-actions .nav-link:hover i {
  font-weight: bold;
}

@media (max-width: 768px) {
  .photo-page {
    grid-template-columns: 1fr;
    grid-template-areas: "photo-info" "photo-image-container" "photo-actions";
    align-items: stretch;
  }
  .photo-info,
  .photo-image-container {
    width: 100%;
    padding: 10px;
  }
  .photo-actions {
    flex-direction: column;
    height: auto;
  }
  .photo-actions .contact-link {
    margin-bottom: 10px;
  }
  .photo-actions .navigation {
    justify-content: center;
  }
}
.related-photos, .photos-list {
  max-width: 1440px;
  margin-top: 30px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.related-photos .photo-gallery, .photos-list .photo-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-top: 30px;
}
.related-photos .photo-item, .photos-list .photo-item {
  position: relative;
  aspect-ratio: 1/1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.related-photos .related-photo, .photos-list .related-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.related-photos .photo-item::after, .photos-list .photo-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 5;
}
.related-photos .photo-item:hover::after, .photos-list .photo-item:hover::after {
  opacity: 1;
}
.related-photos .photo-item:hover .photo-overlay, .photos-list .photo-item:hover .photo-overlay {
  opacity: 1;
}
.related-photos .photo-overlay, .photos-list .photo-overlay {
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 10;
}
.related-photos .photo-overlay .eye-icon, .related-photos .photo-overlay .fullscreen-icon, .photos-list .photo-overlay .eye-icon, .photos-list .photo-overlay .fullscreen-icon {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.related-photos .photo-overlay .eye-icon:hover, .related-photos .photo-overlay .fullscreen-icon:hover, .photos-list .photo-overlay .eye-icon:hover, .photos-list .photo-overlay .fullscreen-icon:hover {
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  border: 2px solid white;
}
.related-photos .photo-overlay .eye-icon, .photos-list .photo-overlay .eye-icon {
  position: absolute;
  font-size: 45px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
}
.related-photos .photo-overlay .fullscreen-icon, .photos-list .photo-overlay .fullscreen-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 15;
}
.related-photos .photo-overlay .photo-data, .photos-list .photo-overlay .photo-data {
  font-family: "Poppins";
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  align-self: flex-end;
}
.related-photos .photo-overlay .ref, .photos-list .photo-overlay .ref {
  margin-right: auto;
}
@media (max-width: 768px) {
  .related-photos .photo-gallery, .photos-list .photo-gallery {
    grid-template-columns: 1fr;
  }
  .related-photos .eye-icon, .photos-list .eye-icon {
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .related-photos .fullscreen-icon, .photos-list .fullscreen-icon {
    font-size: 20px;
    top: 10px;
    right: 10px;
  }
}

.lightbox {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9998;
  overflow: auto;
  animation: lightboxIn 0.3s;
  display: none;
  opacity: 0;
  /* Afficher la modale */
}
.lightbox .lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.lightbox .lightbox-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lightbox .lightbox-navigation .lightbox-link-prev,
.lightbox .lightbox-navigation .lightbox-link-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
  color: white;
  font-family: "Space Mono";
  font-weight: 400;
  font-size: 12px;
  z-index: 9999;
}
.lightbox .lightbox-navigation .lightbox-link-prev:hover i,
.lightbox .lightbox-navigation .lightbox-link-next:hover i {
  font-weight: bold;
}
.lightbox .lightbox-link-prev {
  left: 20px;
}
.lightbox .lightbox-link-next {
  right: 20px;
}
.lightbox .lightbox-close {
  position: fixed;
  text-decoration: none;
  color: white;
  top: 50px;
  right: 50px;
  z-index: 9999;
}
.lightbox .lightbox-close:hover {
  cursor: pointer;
}
.lightbox .lightbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  min-height: 100vh;
  z-index: 9998;
  position: relative;
}
.lightbox .lightbox-container img {
  width: 100%;
  height: auto;
  animation: lightboxIn 0.5s;
}
.lightbox .lightbox-container .photo-data-ref,
.lightbox .lightbox-container .photo-data-cat {
  position: absolute;
  bottom: 20px;
  font-family: "Space Mono";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  display: block;
}
.lightbox .lightbox-container .photo-data-ref {
  left: 0;
  bottom: 0;
}
.lightbox .lightbox-container .photo-data-cat {
  right: 0;
  bottom: 0;
}
.lightbox.show {
  display: flex; /* Rendre visible */
  opacity: 1;
  pointer-events: auto;
}
.lightbox.show .lightbox-overlay {
  opacity: 1;
}
.lightbox.show .lightbox-content {
  opacity: 1;
  pointer-events: auto;
}

@keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Empêche le défilement lorsque la modale est ouverte */
.lightbox-open {
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
