h1 {
    font-family: 'Space Mono';
    font-size: 96px;
    font-weight: 700;
    font-style: italic;
}

h2{
    font-family: 'Space Mono';
    font-size: 66px;
    font-weight: 400;
    font-style: italic;
    line-height: 60px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

h3 {
    font-family: 'Space Mono';
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.photo-description {
    font-family: 'Space Mono';
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

p {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 300;
}
