html, body {
    margin: 0;
    padding: 0;
    //overflow-x: hidden; // Empêche le débordement horizontal
}

// Hero
.hero {
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: 970px; // Pleine hauteur de l'écran
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;

    .hero-content {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
    }
}

// Charger plus
#load-more {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 10vw;
    height: 5vh;
    background-color: #D8D8D8;
    font-family: 'Space Mono';
    font-size: 12px;
    font-weight: 400;
    color: black;
    border: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 1vh;

    &:hover {
        background-color: black;
        color: white;
    }
}

// Filters et tri
.photo-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;

    form {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .filters-group {
            display: flex;
            gap: 0.5vw;

            &.filters-left {
                justify-content: flex-start;
            }

            &.filters-right {
                justify-content: flex-end;
            }

            select {
                width: 10vw;
                size: auto;
                height: auto;
                overflow: hidden;
                padding: 0.4vw 0.6vw;
                border: 1.3px solid #B8BBC2;
                border-radius: 8px;
                background: white;
                color: black;
                font-family: 'Poppins';
                font-size: 12px;
                font-weight: 500;
                text-transform: uppercase;
                &:focus {
                    border-color: #215AFF;
                }
                & option:hover {
                        background-color: #E00000;
                        color: white

                }
            }
        }
    }
}

/* Personnaliser les options */
.select2-results__option {
    padding: 10px;
    color: black; /* Couleur du texte */
    background-color: #fff; /* Couleur de fond par défaut */
    font-family: 'Poppins'!important;
    font-size: 12px !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Couleur au survol */
.select2-results__option--highlighted {
    background-color: red !important; /* Couleur de fond au survol */
    color: white !important; /* Couleur du texte au survol */
}

/* Personnalisation générale */
.select2-container .select2-selection--single {
    //width: 10vw !important;
    size: auto !important;
    height: auto !important;
    overflow: hidden !important;
    padding: 0.4vw 0.6vw !important;
    border: 1.3px solid #B8BBC2 !important;
    border-radius: 8px !important;
    background: white !important;
    color: black !important;
    font-family: 'Poppins'!important;
    font-size: 12px !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
}

.select2-selection__placeholder {
    color: black !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: black !important;
    //line-height: 1.5;
}

.select2-selection__arrow {
    height: 100% !important;
}

.select2-dropdown {
    border: none !important;
}

.select2-container--open .select2-selection--single , .select2-container--focus .select2-selection--single {
    border-color: #215AFF !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.select2-results__options {
    border-bottom-right-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
}

.select2-search {
    display: none;
}


@media (max-width: 768px) {
    .hero {
        height: 50vh;
        background-size: cover;
    }

    .hero h1 {
        font-size: clamp(18px, 10vw, 40px); // Ajuste la taille du texte en responsive
    }

    .photo-filters {
        form {
            flex-direction: column;
            align-items: center;

            .filters-group {
                flex-direction: column;
                justify-content: center;
                margin-bottom: 10px;
            }
        }

        select {
            width: 70vw !important;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
        }

        .filters-group {
            display: flex;
            flex-direction: column;
            margin: 0.1vh !important;
        }
    }

    #load-more {
        width: 70vw;
        height: 8vh;
        font-size: 16px;
        margin-top: 2vh;
    }
}

