.hero {
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: 970px; /* Pleine hauteur de l'écran */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;

    .hero-content {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
    }
}
