.hero {
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: 970px; /* Pleine hauteur de l'écran */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;

    .hero-content {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
    }
}

#load-more {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 10vw;
    height: 5vh;
    background-color: #D8D8D8;
    font-family: 'Space Mono';
    font-size: 12px;
    font-weight: 400;
    color: black;
    border: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 1vh;
}

#load-more:hover {
    background-color: black;
    color: white;
}