header {
    height: 80px;
    width: 100%; /* Utiliser la pleine largeur de l'écran */
    max-width: 1440px; /* Limiter la largeur max du header */
    margin: 0 auto; /* Centre le header horizontalement */
    display: flex;
    align-items: center;
    padding: 0 146px; /* Ajoute un padding de 146px à gauche et à droite */

    nav {
        display: flex;
        justify-content: space-between; /* Sépare le logo et le menu */
        width: 100%;  /* Prend toute la largeur disponible dans le header */
        align-items: center;

        a {
            text-decoration: none; /* Enlever le soulignement des liens */
            color: inherit; /* Hérite de la couleur de son parent (facultatif) */
        }

        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                font-family: 'Space Mono', sans-serif;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 400;
                margin: 0 20px;
            }
        }
    }

    .logo {
        width: 216px;
        height: auto;
        flex-shrink: 0; /* Empêche le logo de se réduire */
    }
}

